#map {
    height: 820px;
    width: 100%;
}

table {

    table-layout: :fixed;

}

body {
    padding-top: 50px;
    background-color: #668e9b;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-color: #18121E;
}

input {
     width: 100%; 
     color: #18121E;
}

#id {
    width: 100%;
}

.glyphicon {
    font-size: 13px;
}

.navbar {
    background-color: rgba(35, 50, 55, 0.9);
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

h1, h2, h3 {
    font-family: 'permanent marker', cursive;
    color: #18121E;
    margin-left: 12px;
}

h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

#profile img {
    /*padding: 0% 10%;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}



#log-climb-btn {
/*    padding: 14px 20px;*/
    border: 0 none;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    /*text-transform: uppercase;*/
    color: #fffff;
    background: #233237;
    /*margin-left: 5px;*/
}


th {
    background-color: #738B95;
    font-color: #18121E;
}

th a:hover {
    font-color: #fff;
}

.glyphicon-menu-down:hover {
    color: #fff;
}


.modal-backdrop {
   background-color: #18121E;
}

.navbar-brand {
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Permanent Marker';
}

#title {

  font-size: 150px;
  display: inline;
  color: white;
  font-family: 'Permanent Marker', cursive;
}

#log-in-form {
    color: #fff;
    font-weight: bold;
}


#log-in-form a {
    color: #EAC67A;
    font-weight: bold;
}

#log-in-form a:hover {
    color: #fff;
    font-weight: bold;
}

/*#log-in-form input {
    background-colo
}*/

.btn-link:hover {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}


#login {
    width:255px;
}


li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#tagline {
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
    padding-right: 10%;
}

.col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}


