<!DOCTYPE HTML>

<html>
    <head>
        <title>{% block title %} TITLE GOES HERE {% endblock %}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="static/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Permanent+Marker" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    </head>
        
<body>
<!--     <div class='container fluid' id='flash-message'>
        {% for message in get_flashed_messages() %}
            <li> {{ message }} </li>
        {% endfor %}
    </div> -->
    
    {% block  content %} CONTENT GOES HERE {% endblock %}


    <script src="http://code.jquery.com/jquery.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/moment.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script src="/static/user_map.js"></script>



</body>