<!DOCTYPE HTML>

<html>
    <head>
        <title>{% block title %} TITLE GOES HERE {% endblock %}</title>
        <style>{% block style %} STYLIZE {% endblock %}</style>
        <link rel="stylesheet" href="static/styles.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
        <script src ='https://code.jquery.com/jquery.js'></script>    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
</script>
    </head>
<body>
    {% if 'username' in session %}
        <div> Currently logged in as {{ session['username'] }}.</div>
    {% endif %}

    {% for message in get_flashed_messages() %}
        <li> {{ message }} </li>
    {% endfor %}
    
    {% block  content %} CONTENT GOES HERE {% endblock %}

    <div>
    {% if 'username' in session %}
        <form action='/logout' method='POST'>
                <input type='submit' value='log out'>
        </form>
    {% endif %}
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>



</body>