{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}


{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/">CHALKED</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/dashboard"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  home<span class="sr-only">(current)</span></a></li>
        <li><a href="/user-map"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> my map</a></li>
        <li><p class="navbar-text"><i>signed in as {{ session['username'] }}</i></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li>
            <form class="navbar-form navbar-right" action='/logout' method='POST'>
                <button class='btn btn-link' role='link' type='submit' value='log out'>log out </button>
            </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="affix">
                
                <div class="col-sm-8">
                    <h1 class=center-block>Hello, {{ session['username'] }}!</h1>
                    <div id="profile"></div>
                    <h2 id='animal'></h3>
                    <h4 id='points'></h4>
                    <h5 id='next-badge'></h5>
                


                <button type='button' class='btn btn-info btn-lg' id='log-climb-btn' data-toggle='modal' data-target='#myModal'>Log A New Climb</button>


                <div class='modal fade' id='myModal' role='document'>
                    <div class='modal-dialog'>
                        <div class='modal-content'>
                                
                                <div class='modal-header'>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h2 class="modal-title">Log a new climb:</h2>
                                </div>
                            
                                <div class="modal-body">

                                    <select name='state' id='state'>
                                        <option disable selected value> -- STATE -- </option>
                                    </select><br>


                                    <!-- filters area -->
                                    <select name='area' id='area'>
                                        <option disable selected value> -- AREA -- </option>
                                    </select>
                
                                    <!-- logs climb info -->
                                    <form id='log-climb'>
                                        
                                        <select name='route' id='route'>
                                            <option disable selected value> -- ROUTE -- </option>
                                        </select><br>
                                        
                                        <label> Rate the climb:
                                            <input type='number' id='rating' name='rating' min='1' max='5'">
                                        </label><br>
                                        
                                        <label>
                                            <textarea name='notes' id='notes' rows="4" cols="50"></textarea>
                                        </label><br>
                                        
                                        <label> Date:
                                            <input id="date" name='date' type="date">
                                        </label><br>
                                        <label>Done<input type='checkbox' id='complete' name='complete' value='true'>
                                        </label><br>

                                        <input type='file' id='photo' name='file'/> <br>
                                        
                                        <button type='submit' id='upload-button'>Log</button>
                                    
                                    </form>
                                </div>
                            
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div> 
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    


    

        <div class="col-sm-9">
            <div class='climb-chart'>
                <canvas id='climbChart'></canvas>
                <div id='legend'></div>
            </div>

        
            <h3>Current Projects</h3>
            <table id='projects' class='table table-striped'>
                <tr id="current-projects">
                    <th class="col-xs-1" onclick="w3.sortHTML('#projects', '.item', 'td:nth-child(1)')" style="cursor:pointer">Date<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></th>
                    <th class="col-xs-1" onclick="w3.sortHTML('#projects', '.item', 'td:nth-child(2)')" style="cursor:pointer">Difficulty<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> </th>
                    <th class="col-xs-1" onclick="w3.sortHTML('#projects', '.item', 'td:nth-child(3)')" style="cursor:pointer">Name<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> </th>
                    <th class="col-xs-1" onclick="w3.sortHTML('#projects', '.item', 'td:nth-child(4)')" style="cursor:pointer">State<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> </th>
                    <th class="col-xs-1" onclick="w3.sortHTML('#projects', '.item', 'td:nth-child(5)')" style="cursor:pointer">Area<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> </th>
                    <th class="col-xs-3"> Notes</th>
                    <th class="col-xs-1">Done</th>
                    <th class="col-xs-1">Update</th>
                    <th class="col-xs-1"></th>
                </tr>

            </table>


        <div>
            <h3>Completed Climbs</h3>
            <table id='completedClimbs' class='table table-striped'>
                <tr>
                    <th onclick="w3.sortHTML('#completedClimbs', '.item', 'td:nth-child(1)')" style="cursor:pointer">Date <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></th>
                    <th onclick="w3.sortHTML('#completedClimbs', '.item', 'td:nth-child(2)')" style="cursor:pointer">Difficulty <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></th>
                    <th onclick="w3.sortHTML('#completedClimbs', '.item', 'td:nth-child(3)')" style="cursor:pointer">Name <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></th>
                    <th onclick="w3.sortHTML('#completedClimbs', '.item', 'td:nth-child(4)')" style="cursor:pointer">State <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></th>
                    <th onclick="w3.sortHTML('#completedClimbs', '.item', 'td:nth-child(5)')" style="cursor:pointer">Area <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></th>
 <!--                    <th onclick="w3.sortHTML('#completedClimbs', '.item', 'td:nth-child(6)')" style="cursor:pointer">Rating <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></th> -->
                    <th>Notes</th>
                </tr>

            </table>
        </div>

    </div>

</div>
    
<style>

body {
  background: url("static/crossword.png");
}




</style>
    



    <script src="https://www.w3schools.com/lib/w3.js"></script>


    <script src="http://code.jquery.com/jquery.js"></script>

    <script src="/static/user_dashboard.js"></script>



    



{% endblock %}