{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block style %}

      #map {
        height: 500px;
        width: 500px;
      }


{% endblock %}


{% block content %}

    <h1>Welcome, {{ session['username'] }}!</h1>


<!-- filters state -->
    <form id='state-form'>
        <select name='state' id='state'>
        </select>
        <input type='submit'>
    </form>


<!-- filters area -->
    <form id='area-form'>
        <select name='area' id='area'>
        </select>
        <input type='submit'>
    </form>
    
<!-- logs climb info -->
    <form action='/log-climb.json' id='log-climb' method='POST'>
        <select name='route' id='route'>
        </select><br>

        <label>
            <textarea name='notes' id='notes' rows="4" cols="50"></textarea>
        </label><br>
        
        <label>Complete
            <input type='checkbox' id='complete' name='complete' value='true'>
        </label><br>
        
        <input type='submit'>
    </form>
    <div id='submitted'></div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/search.js"></script>






    

{% endblock %}