{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block style %}


{% endblock %}


{% block content %}

    <h1>Welcome, {{ session['username'] }}!</h1>
        <div id="map"></div>

<!-- filters state -->
    <h2> Log a new climb: </h2>
        <select name='state' id='state'>
            <option value='' disabled selected>STATE</option>
        </select><br>


<!-- filters area -->
        <select name='area' id='area'>
            <option value='' disabled selected>AREA</option>
        </select>
    
<!-- logs climb info -->
    <form action='/log-climb.json' id='log-climb' method='POST'>
        <select name='route' id='route'>
            <option value='' disabled selected>ROUTE</option>
        </select><br>
        
        <label> Rate the climb:
            <input type='number' id='rating' name='rating' min='1' max='5'>
        </label><br>
        
        <label>
            <textarea name='notes' id='notes' rows="4" cols="50"></textarea>
        </label><br>
        
        <label> Date:
            <input id="date" name='date' type="date">
        </label><br>
        <label>Complete
            <input type='checkbox' id='complete' name='complete' value='true'>
        </label><br>

        <input type="file" id='photo' name="photo" accept="image/*">
        <br>
        
        <input type='submit' value='log'>
    </form>
    <div>
        <h3>Log entries</h3>
        <table id='user_logs'>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Location</th>
                <th>Grade</th>
                <th>Rating</th>
                <th>Notes</th>
                <th>Completed</th>
            </tr>

        </table>

    </div>


    <script src="http://code.jquery.com/jquery.js"></script>


    <script src="/static/user_map.js"></script>


    <script src="/static/user_dashboard.js"></script>


     <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9qDiQS_jF-wRKvyNXlov2leRbMEq56Ig"></script>
        

{% endblock %}