{% extends 'base.html' %}

{% block title %} WELCOME {% endblock %}

{% block content %}

<h1>Welcome!</h1>
<form action='/login' method='POST'>
    <label>Username:
        <input type='username' name='username' id='username' required></label><br>
    <label>Password:
        <input type='password' name='password' id='password' required></label><br>
    <input type='submit' id='login' value='log in'>
</form>

<h2>Sign Up</h2>
<form action='/register' method='POST'>
    <label>Username:
        <input type='username' name='username' required>
    </label><br>
    
    <label>Password:
        <input type='password' name='password' required>
    </label><br>

    <label>Email:
        <input type='email' name='email' required>
    </label><br>
    
    <label>Level:
        <input type='radio' name='level' value='beginner' required>beginner
        <input type='radio' name='level' value='intermediate' required>intermediate
        <input type='radio' name='level' value='advanced' required>advanced<br>
    </label>

    <input type='submit' value='Create Account'>
</form>


{% endblock %}