{% extends 'base.html' %}

{% block title %} WELCOME {% endblock %}

{% block style %}

{% endblock %}

{% block content %}

<div class="container fluid" id="homepage">
  <div class="container">
    <div id="log-in-form" class="row">

      <div class="col-md-4 col-md-offset-4">
        <div id="title">
          Chalked
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <div id="sign-in">
          <form action='/login' method='POST'>
              <label>USERNAME:
                  <input type='username' name='username' id='username' required></label><br>
              <label>PASSWORD:
                  <input type='password' name='password' id='password' required></label><br>
              <input type='submit' id='login' value='log in'>
              {% for message in get_flashed_messages() %}
                <li><i> {{ message }} <i></li>
              {% endfor %}
          </form>
        </div>
        <a href="/register">register</a>
      </div>
    </div>
  </div>
</div>

<style>

body {
  
  background-image: url(static/alexa-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

</style>

{% endblock %}